static/index.html
static/main.js

# IDEA
.idea/

#dotenv
.env*

# Vim stuff
# swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]

#Python
venv

# output
./output/*

persistence/

webapp/node_modules
